<!DOCTYPE html>
<html>
  <head>
    <title>PSPDFKit Web Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <main>
      <div class="login">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <input type="text" name="user_id" placeholder="Name">
            <input type="submit" class="btn" value="Login">
          </div>
        </form>
        <p>
          This is only a sample project, so you can authenticate by just entering a name.
          If it exists, you will be logged in as that user, otherwise a new user with that name will be created.
        </p>
      </div>
    </main>
  </body>
</html>
